@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-dark: #292929;
  --color-primary: #efbe46;

  --font-sans: "Josefin Sans", sans-serif;
  --font-serif: "Lora", serif;
}

body.dark {
  --color-background: #292929;
  --color-dark: #fff;
}

body {
  background-color: var(--color-background);
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
