@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-dark: #292929;
  --color-primary: #efbe46;
}

body.dark {
  --color-background: #292929;
  --color-dark: #fff;
}

body {
  background-color: var(--color-background);
}
